:root {
    --bg-color-body:#1f1f1f;
    --bg-color-bar:#181818;
    --border-color:#2a2a2a;
    --btn-red-color:#e81123;
    --box-shadow-color:#27262660;
    --code-index-color:#8cdcda;
    --copy-success-text:'复制成功';
    --copy-btn-text:'点击复制';
    --text-color-menu:#cccccc;
    --menu-hover-color:#323232;
}


.star-container {
    width: 320px;
    height: 520px;
    
    .header {
        height: 32px;
        width: 100%;
        cursor: move;
        display: flex;
        box-sizing: border-box;
        justify-content: space-between;
        align-items: center;
        
        .header-left {
            display: flex;
            align-items: center;
            column-gap: 5px;
            .menu {
                display: flex;
                ul {
                    display: flex;
                    row-gap: 5px;
                    column-gap: 5px;
                    margin:0px;padding:0px;
                    box-sizing: border-box;
                }
                ul li {
                    margin:0px;padding:0px;
                    box-sizing: border-box;
                    display: block;
                    list-style: none;
                    position:relative;
                    color:var(--text-color-menu);
                    button {
                        background-color: transparent;
                        color:inherit;
                        border:none;
                        &[status="open"] ~ .sub-menu {
                            height: 180px;
                        }
                    }
                    
                    .sub-menu {
                        position:absolute;
                        width:130px;
                        top:20px;
                        left:0px;
                        z-index: 99;
                        background-color: var(--bg-color-body);
                        border:1px solid var(--border-color);
                        color:var(--text-color-menu);
                        border-radius: 3px;
                        height: 0px;
                        overflow: hidden;
                        transition: height .1s linear;
                        display: block;
                        cursor: pointer;
                        li {
                            display: block;
                            text-align: center;
                            line-height: 30px;
                            padding: 0  5px;
                            border-bottom: 1px solid var(--border-color);
                            
                            &:hover {
                                background-color: var(--menu-hover-color);
                            }
                            button {
                                width:100%;
                                height: 100%;
                            }
                        }
                    }
                }
            }
            .logo {
                width: 26px;
                height: 26px;
                background-image: url('./logo.png');
                background-repeat: no-repeat;
                background-position: center;
                background-size: 100%;
                border-radius: 16px;
                overflow: hidden;
            }

        }
        .close {
            width:38px;
            height: 32px;
            line-height: 32px;
            text-align: center;
            box-sizing: border-box;
            position: relative;
            &::after {
                display: block;
                content: '×';
                font-size: 16px;
            }

        }
    
        .close:hover {
            cursor: pointer;
        }
        
    }
   

    .drag-controll {
        position:absolute;
        width: 10px;
        height: 10px;
        right: 0px;
        bottom: 0px;
        cursor:se-resize
    }

    .body {
        height: calc(100% - 30px - 32px);
        overflow: auto;
        box-sizing: border-box;
        position: relative;
        padding:20px;
        pre {
            code {
               
                .change-item {
                   padding: 1px 2px;
                }

                .hljs-string,.hljs-number,.change-item,.hljs-literal {
                    cursor: pointer;
                    position: relative;
                    &:hover {
                        background-color: rgba(255,255,255,0.1);
                    }
                    &:hover::after {
                        content: attr(copy-text);
                        display: block;
                        position:absolute;
                        right: 0px;
                        top:-20px;
                        color:rgba(255,255,255,0.6);
                        
                    }
                }
            }
        }
    }
    .footer {
        height: 30px;
        width: 100%;
    }

    .pop-info {
        position:fixed;
        width:230px;
        background-color: #fff;
        top:0px;
        left:0px;
        ul {
            li {
                list-style: none;
            }
        }
    }
}


.star-container.theme-1 {
    
    box-shadow: 2px 2px 8px var(--box-shadow-color);
    border-radius: 8px;
    overflow: hidden;
    .header {
        background-color: var(--bg-color-bar);
        border-bottom: 1px solid var(--border-color);
        box-shadow: 0px 1px 6px gainsboro inset;

        .header-left {
            .menu {
                color:#fff;
                ul {
                
                }
                ul li {
                    font-size: 12px;
                    
                    button {
                        cursor: pointer;
                        &:hover {
                            background-color: var(--menu-hover-color);
                        }
                    }
                    
                }
            }
        }


        .close {
            color:#cccccc;
            font-size: 17px;
            transition: background-color 0.2s linear;
        }
        .close:hover {
            background-color: var(--btn-red-color);
        }
    }
    .body {
        background-color: var(--bg-color-body);
        --sb-track-color: #1f1f1f;
        --sb-thumb-color: #232E33;
        --sb-size: 18px;
        scrollbar-color: var(--sb-thumb-color) 
                        var(--sb-track-color);
       
        &::-webkit-scrollbar {
            width: var(--sb-size);
          
        }
        &::-webkit-scrollbar-track {
            background: var(--sb-track-color);
            border-radius: 1px;
            

        }
        &::-webkit-scrollbar-thumb {
            background: var(--sb-thumb-color);
            border-radius: 1px;
            border: 2px solid #35373a;
            cursor: pointer;
        }
        pre {
            code {
                color:var(--code-index-color);
                .change-item {
                    background-color: rgba(217, 28, 28, 0.527);
                    border-radius: 2px;
                    color:#fff;
                }
            }
        }
    }
    .footer {
        border-top: 1px solid var(--border-color);
        background-color: var(--bg-color-bar);

    }
    .drag-controll {
       
        background-color:transparent;

    }
    .pop-info.active {
        display: block;
    }
    .pop-info {

        display: none;
        background-color: var(--bg-color-body);
        border:1px solid #444444;
        border-radius: 4px;
        padding:5px;
        box-sizing: border-box;
        ul {
            margin:0;
            padding:0;
            box-sizing: border-box;
            li {
                list-style: none;
                color:#c4c4c4;
                font-size: 12px;
                height: 20px;
                line-height: 20px;
                cursor: pointer;
                box-sizing: border-box;
                padding: 0px 15px;
                &:hover {
                    border-radius: 4px;
                    background-color: var(--menu-hover-color);
                }
                span:nth-child(1) {
                    position: relative;
                    
                }
            }
        }
    }


}